body {
    background-color: #15161F;
    color: #ffffff;
}

.navbar {
    margin-bottom: 30px;
}

.nav-list li a{
    color: #ffffff80;
    top: 0px;
}

.nav-list li a.active {
    color: #ffffff;
}

.search-input {
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
}

.search-input::-webkit-input-placeholder {
    color: red;
}
.search-input::-moz-placeholder {
    color: red;
}
.search-input:-ms-input-placeholder {
    color: red;
}
.search-input::placeholder {
    color: red;
    border: 1px red;
}

.index-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "a b b b c"
    "a b b b c"
    "a d d d c";
    gap: 20px;
    align-items: start;
}

.gainers-losers-grid {
    display: grid;
    grid-area: a;
    border-right: 1px solid white;
}

.index-stock-ticker-flex {
    grid-area: b;
    gap: 20px;
}

.index-news-grid {
    grid-area: c;
    margin: 20px;
    gap: 20px;
}

.stock-container {
    width: fit-content;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #272733;
    transform:
    perspective(800px)
    rotateY(-8deg);
    transition: transform 1s ease 0s;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    border-radius: 1em;
    line-height: 15px;
    display: inline-block;
    margin-bottom: 10px;
}

.btn {
    border: none;
}

.is-pulled-right {
    float: right;
}

#percent-change {
    font-size: 1.2rem;
    color: red;
}

.amount-changed {
    font-size: 0.9rem;
    color: red;
}

.ticker-link {
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#684a10 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
}

.ticker-link:hover {
    color: #ffffffea;
}

.news-container {
    background-color: #272733;
    border-radius: 1em;
    padding: 5px;
    margin-bottom: 15px;
}

.news-container {
    background-color: #272733;
    border-radius: 1em;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
}

.news-container:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}  

.news-headline {
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#684a10 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.news-image {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index-news-summary {
    font-size: 0.8rem;
}