body {
    background-color: #15161F;
    color: #ffffff;
}

.navbar {
    margin-bottom: 30px;
}

.nav-list li a{
    color: #ffffff80;
    top: 0px;
}

.nav-list li a.active {
    color: #ffffff;
}

.stock-container {
    width: fit-content;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #272733;
    box-shadow: 2px 2px 2px #272733;
    border-radius: 1em;
    margin-left: 15px;
    line-height: 15px;
    display: inline-block;
}

.btn {
    border: none;
}

.is-pulled-right {
    float: right;
}

#percent-change {
    font-size: 1.2rem;
    color: red;
}

.amount-changed {
    font-size: 0.9rem;
    color: red;
}

.ticker-link {
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#684a10 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
}

.ticker-link:hover {
    color: #ffffffea;
}

.news-container {
    background-color: #272733;
    border-radius: 1em;
    padding: 10px;
}

.news-article {
    margin: 10px;
}

.news-headline {
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#684a10 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    text-align: center;
}

.news-image {
    width: 20%;
}