body {
    background-color: #0E0E0E;
    color: #ffffff;
    overflow: hidden;
}

.navbar {
    margin-bottom: 30px;
}

.nav-list li a{
    color: #ffffff80;
    top: 0px;
}

.nav-list li a.active {
    color: #ffffff;
}

.search-input {
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
}

.search-input-error {
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}

.error::placeholder {
    color: red
}

.index-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "a b b b c"
    "a b b b c"
    "a d d d c";
    gap: 20px;
    align-items: start;
}

.gainers-losers-grid {
    font-family: "Times New Roman", Times, serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

.index-stock-ticker-flex {
    grid-area: b;
    gap: 20px;
}

.index-news-grid {
    grid-area: c;
    margin: 20px;
    gap: 20px;
    height: calc(100vh - 40px); /* Set the height of the sidebar to fill the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
}

.stock-container {
    width: fit-content;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #2C2C2C;
    transform:
    perspective(800px)
    rotateY(-8deg);
    transition: transform 1s ease 0s;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    border-radius: 1em;
    line-height: 15px;
    display: inline-block;
    margin-bottom: 10px;
}

.btn {
    border: none;
}

.is-pulled-right {
    float: right;
}

#percent-change {
    font-size: 1.2rem;
    color: red;
}

.amount-changed {
    font-size: 0.9rem;
    color: red;
}

.ticker-link {
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#684a10 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
}

.ticker-link:hover {
    color: #ffffffea;
}

.news-heading {
    font-family: "Times New Roman", Times, serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

/* TODO: When hover it should not be blocked by div width */
.news-container {
    background-color: #2C2C2C;
    border-radius: 1em;
    padding: 5px;
    margin-bottom: 15px;
    height: 27%;
}

.news-container {
    background-color: #2C2C2C;
    border-radius: 1em;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
}

.news-container:hover {
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}  

.news-headline {
    background: #AD834C; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.news-image {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index-news-summary {
    font-size: 0.8rem;
}