{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The Buzz Traders</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body class="body">
    <nav class="navbar navbar-expand-lg" style="background-color: #0E0E0E;">
      <a class="navbar-brand company-name" style="background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#684a10 78%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; color: #fff;" href="/">The Buzz Traders</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav-list navbar-nav mr-auto">
          <li class="nav-item" id="main-navbar">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item" id="main-navbar">
            <a class="nav-link" href="/News">News</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
          <input 
            class="form-control mr-sm-2 search-input"
            value="" 
            type="search" 
            placeholder="Search for stock" 
            name="q"
          />
          <div class="invalid-search-error"></div>
          <button 
            class="btn btn-outline-success my-2 my-sm-0"
            style="background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#684a10 78%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; color: #fff;"
            type="submit">
            Search</button
          >
        </form>
      </div>
    </nav>

    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const errorMessage = urlParams.get('error');
      const searchInput = document.querySelector('.search-input');
      if (searchInput) {
          if (errorMessage) {
              searchInput.placeholder = 'Not a valid stock symbol';
              searchInput.classList.add('error');
              searchInput.classList.add('search-input-error');
          } else {
              searchInput.placeholder = 'Enter a stock symbol';
              searchInput.classList.remove('error');
              searchInput.classList.remove('search-input-error');
          }
      }
    </script>
    {{ end }}