{{ define "index" }}
{{ template "header" .}}
    {{ if . }}
        {{ range $.Ticker }}
        <div class="stock-container">
            <p><a class="ticker-link" href="/search?q=">{{ .Symbol }}</a> <span class="price is-pulled-right">{{ .CurrentPrice }}</span></p>
            <p class="percent-change" id="percent-change">{{ .PercentChange }}&#37;&nbsp;<span class="amount-changed">(<span class="change-price">{{ .Change }}</span>)</span></p>
        </div>
        {{ end }}
        {{ range $.Article }}
        <div class="news-container">
            <div class="news-article">
                <img class="news-image" src="{{ .Image }}">
                <p class="news-headline"><a href="{{ .URL }}">{{ .Headline }}</a></p>
            </div>
        </div>
        {{ end }}
    {{ end }}
    <script>
        priceChange = document.getElementsByClassName("change-price")
        tickerLink = document.getElementsByClassName("ticker-link")
        tickerSymbol = document.getElementsByClassName("ticker-link")
        priceChangeFinal = []
        upArrow = "▴"
        downArrow = "▾"

        for(i = 0; i < priceChange.length; i++) {
            priceChangeFinal.push(parseFloat(priceChange[i].innerText))
        }

        for(j = 0; j < priceChangeFinal.length; j++) {
            if(Math.sign(priceChangeFinal[j]) == 1) {
                percentChange = document.getElementsByClassName("percent-change")[j]
                percentChange.style.color = "green"
                percentChange.innerText = upArrow.concat(percentChange.innerText)
            } else if(Math.sign(priceChangeFinal[j]) == -1) {
                percentChange = document.getElementsByClassName("percent-change")[j]
                document.getElementsByClassName("percent-change")[j].style.color = "red"
                percentChange.innerText = downArrow.concat(percentChange.innerText)
            }
        }

        
        // Concat ticker Symbol to query link
        for(k = 0; k < tickerLink.length; k++) {
            tickerHref = tickerLink[k].href
            tickerText = tickerSymbol[k].text
            tickerSearchURL = tickerHref.concat(tickerText)
            tickerLink[k].setAttribute('href', tickerSearchURL)
        }
    </script>
{{ template "footer" .}}
{{ end }}